:root{
    --standerd:#46ccdb;
    --black:black;
    --white:white;
    --standerd-bg:#cacfcb;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/****************this section is for nav_bar****************/

nav{
    width: 100%;
    height: auto;
    background-color: white;
    padding:0 80px;
    position: fixed;
    top: 0;
    z-index: 9;
    
}

.navcontainer{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navcontainer img{
    width: 120px;
    margin: 20px 0;
}
.navcontainer ul {
    display: flex;
    margin-right: 4px;
    height: 50px;
    align-items: center;
    
}
.navcontainer ul li {
    margin-left: 40px;
}


.navcontainer ul li a{
    text-decoration: none;
    color: black;
    transition: color cubic-bezier(0.77, 0.33, 0.58, 1) .3s;
    font-size: 14px;
    
    

}
.navcontainer ul li .onlysix:hover{
    color: var(--standerd);
}

.navcontainer ul li a{
    color: black;
}

.navcontainer ul li{
    list-style: none;
}

.navcontainer ul :nth-child(7){
   
   
    border: 1px solid var(--standerd) ;
    padding: 15px 10px;
   
    
    
}

.last_list .last_list_a{
    color: var(--standerd);
}
.menue{
    font-size: 30px;
    display: none;
    padding: 7px;
}


/******************this section for navbar_slid****************/

.right_side_slide_navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 0;
    top: 85px;
    width: 100%;
    height: calc(100vh - 86px);
    justify-content: center;
    background-color: var(--standerd);
    transform: translateY(-1000px);
    transition: all ease .5s;
    z-index: 6;
   
}

.right_side_slide_navigation a{
    text-decoration: none;
    width: 70%;
    padding: 23px 0;
    border-bottom: 1px solid rgb(91, 144, 202);
    transition: color ease .3s;
    letter-spacing: 3px;
    
    text-align: center;
    color: white;

}
.right_side_slide_navigation a:hover{
    color: #dee0de;
}

/**************************home_page************************/
.homepagecontainer{
    position: relative;
    width: 100%;
    height: 600px;
    background-color: white;
    margin-top: 100px;
    display: flex;
    align-items: center;
    padding:0 80px;
}
.homepagecontainer .homegrid{
    display: grid;
    gap: 30px;
    grid-template-areas: "imagecontainer textes" ;
    grid-template-columns: 1fr 1.3fr;
    grid-template-rows: 1fr;
}

.homepagecontainer .homegrid .imagecontainer{
    grid-area: imagecontainer;
    display: flex;
    align-items: center;
}

.homepagecontainer .homegrid .imagecontainer span{
    overflow: hidden;
   
    


}
.homepagecontainer .homegrid .imagecontainer span img{
    transition: all ease-in-out .5s;
    width: 100%;
   
    
}

.homepagecontainer .homegrid .imagecontainer span img:hover{
    transform: scale(1.1);
}


.homepagecontainer .homegrid .textes{
    grid-area: textes;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homepagecontainer .homegrid .textes h3{
    font-size: 25px;
    margin-bottom: 19px;
    color: var(--standerd);
}
.homepagecontainer .homegrid .textes :nth-child(2){
    font-weight: bold;
}

.homepagecontainer .homegrid .textes p{
    margin-bottom: 18px;

}


.homepagecontainer .homegrid .textes .homepagebtn{
    width: 135px;
    display: inline-block;
    text-align: center;
    padding: 15px 10px;
    text-decoration: none;
    color: var(--standerd);
    border:1px solid var(--standerd);

   
}