:root{
    --standerd:#46ccdb;
    --black:black;
    --white:white;
    --standerd-bg:#cacfcb;
    --swiper-theme-color: white;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

html {
    scroll-behavior: smooth;
}
  


/****************this section is for nav_bar****************/

nav{
    width: 100%;
    height: auto;
    background-color: white;
    padding:0 80px;
    position: fixed;
    top: 0;
    z-index: 9;
    transition: all ease-in-out .5s;
    
}

.navcontainer{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all ease-in-out .5s;
}
.navcontainer img{
    width: 120px;
    margin: 16px 0;
    transition: all ease-in-out .5s;
}

.navcontainer .img_2{
    display: none;
}
.navcontainer ul {
    display: flex;
    margin-right: 4px;
    height: 50px;
    align-items: center;
    
}
.navcontainer ul li {
    margin-left: 40px;
}


.navcontainer ul li a{
    text-decoration: none;
    color: black;
    transition: color cubic-bezier(0.77, 0.33, 0.58, 1) .3s;
    font-size: 14px;
    transition: all ease-in-out .3s;
    
    

}
.navcontainer ul li .onlysix:hover{
    color: var(--standerd);
}

.navcontainer ul li a{
    color: black;
}

.navcontainer ul li{
    list-style: none;
}

.navcontainer ul :nth-child(7){
   
   
    border: 1px solid var(--standerd) ;
    padding: 15px 10px;
   
    
    
}
.last_list{
    transition: all ease-in-out .3s;


}

.last_list .last_list_a{
    transition: all ease-in-out .3s;
    color: var(--standerd);
}
.menue{
    font-size: 30px;
    display: none;
    padding: 7px;
}


/******************this section for navbar_slid****************/

.right_side_slide_navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 0;
    top: 60px;
    width: 100%;
    height: calc(100vh - 60px);
    justify-content: center;
    background-color: var(--standerd);
    transform: translateY(-1000px);
    transition: all ease .5s;
    z-index: 6;
   
}

.right_side_slide_navigation a{
    text-decoration: none;
    width: 70%;
    padding: 23px 0;
    border-bottom: 1px solid rgb(91, 144, 202);
    transition: color ease .3s;
    letter-spacing: 3px;
    text-align: center;
    color: white;
}

.right_side_slide_navigation a:hover{
    color: #dee0de;
}

/**************************home_page************************/
.homepagecontainer{
    position: relative;
    width: 100%;
    background-color: white;
    margin-top: 100px;
    display: flex;
    align-items: center;
    padding: 85px 80px;
}
.homepagecontainer .homegrid{
    display: grid;
    gap: 30px;
    grid-template-areas: "imagecontainer textes" ;
    grid-template-columns: 1fr 1.3fr;
    grid-template-rows: 1fr;
}

.homepagecontainer .homegrid .imagecontainer{
    grid-area: imagecontainer;
    display: flex;
    align-items: center;
}

.homepagecontainer .homegrid .imagecontainer .imagcont{
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    width: 100%;
    display:flex ;
   
}
.homepagecontainer .homegrid .imagecontainer .imagcont img{
    transition: all ease-in-out .5s;
    width: 100%;
    
   
   
    
}

.homepagecontainer .homegrid .imagecontainer .imagcont img:hover{
    transform: scale(1.1);
}


.homepagecontainer .homegrid .textes{
    grid-area: textes;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homepagecontainer .homegrid .textes h3{
    font-size: 25px;
    margin-bottom: 19px;
    color: var(--standerd);
}
.homepagecontainer .homegrid .textes :nth-child(2){
    font-weight: bold;
}

.homepagecontainer .homegrid .textes p{
    margin-bottom: 18px;

}


.homepagecontainer .homegrid .textes .homepagebtn{
    width: 135px;
    display: inline-block;
    text-align: center;
    padding: 15px 10px;
    text-decoration: none;
    color: var(--standerd);
    border:1px solid var(--standerd);
    margin-top: 20px;

   
}


/*****************for scrooll right***********/

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
   
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--standerd); 
    border-radius: 10px;
  }
/**************************************service-section***********/
  .scervices_section{
    width: 100%;
   
    padding:50px 80px;
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


  }

  .scervices_section h3{
    color: var(--standerd);
    font-size: 25px;
    padding-bottom: 50px;


  }

  .scervices_section .scervices{
    width: 100%;
    display: grid;
    grid-template-areas: "card_1 card_2 card_3";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    

  }
.scervices_section .scervices .cardcontainer_1{
    align-items: center;
    margin: 0 auto;
    width: 350px;
    height: 475px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.scervices_section .scervices .cardcontainer_1 .card_img{
    width: 100%;
    overflow: hidden;
    height: 263px;
    
    

}

.scervices_section .scervices .cardcontainer_1 .card_img img{
    transition: all ease-in-out .5s;
}

.scervices_section .scervices .cardcontainer_1 .card_img img:hover{
    
    transform: scale(1.1);

}

.scervices_section .scervices .card_1{
    grid-area: card_1;
}
.scervices_section .scervices .card_2{
    grid-area: card_2;
}

.scervices_section .scervices .card_3{
    grid-area: card_3;
}


.scervices_section .scervices .cardcontainer_1 .card_img img{
    width: 100%;
}

.scervices_section .scervices .cardcontainer_1 .card_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    margin-top: 10px;
}

.scervices_section .scervices .cardcontainer_1 .card_text h4{
    color: var(--standerd);
    padding: 10px 0;
}

.scervices_section .scervices .cardcontainer_1 .card_text p{
    padding: 10px 0;
}

.scervices_section .scervices .cardcontainer_1 .card_text button{
    width: 130px;
    height: 50px;
    background-color: white;
    border: 1px solid var(--standerd);
    transition: background-color ease-in-out .5s;
}

.scervices_section .scervices .cardcontainer_1 .card_text button i{
    color: var(--standerd);
    font-size: 20px;
    transition: color ease-in-out .5s;
}

/***************scroll up button***************/

.upbtn{
    position: fixed;
    display: none;
    width: 41px;
    height: 41px;
    background-color: var(--standerd);
    z-index: 5;
    bottom: 20px;
    right:20px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out .5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.upbtn i{
    color: white;
    
}

/********************************swiper-card-section**********************/


.scrooling_cards{
    width: 100%;
    height: 550px;
    background-color: var(--standerd);
    padding:  0 80px;
    display: flex;
    flex-direction: column;

    align-items:center;
    justify-content: center;
}

.scrooling_cards .heading_section{
    text-align: center;
    width: 100%;
    height: 50px;
}
.scrooling_cards .heading_section h3{
    font-size: 25px;
}


.scrooling_cards .cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    height: 276px;
    justify-content: center;
    width: 80%;
    margin: auto;
    
    
}
.scrooling_cards .cards .icontext {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scrooling_cards .cards .icontext i{
    font-size: 40px;
    padding: 16px 20px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    top: -26px;
    
}
.scrooling_cards .cards .icontext p{
    text-align: center;
    color: white;
}

.scrooling_cards .cards .dateandname{
    height: 20px;
    display: flex;
    padding: 20px 0;
    gap: 16px;
    align-items: center;
    position: relative;
    top: 20px;
    

}

.scrooling_cards .cards .dateandname .date{
    display: flex;
    gap: 5px;
}

.scrooling_cards .cards .dateandname p{
    color: white;
}

.scrooling_cards .cards .dateandname > p{
    font-size: 22px;
    
}


.scrooling_cards .cards .dateandname i{
    color: #044968;
}

/*********swiper style customization*************/

.swiper {
    width: 100%;
    height: 300px;
    
}


.swiper .btn-style{
    height: 40px;
    width: 40px;
    outline: none;
    
}
.swiper .btn-style::after,.swiper .btn-style::before{
  
    display: none;

}

.swiper .btn-style i{
    color: white;
    font-size: 25px;
    outline: none;

}

.swiper .swiper-pagination{
    top: 280px !important;
    
}

.swiper .swiper-pagination::after{
    color: white;
}


.scrooling_cards .scroolign_btn button{
    width: 135px;
    text-align: center;
    padding: 15px 10px;
    text-decoration: none;
    background-color: var(--standerd);
    color: white;
    border: 1px solid white;
    position: relative;
    top: 40px;
    outline: none;

}

/****************news and blogss**************/

.newsblogs_section{
    width: 100%;
    padding:25px 80px;
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.newsblogs_section .heading{
    text-align: center;
    padding: 35px 0;
    
}

.newsblogs_section .heading h3{
    font-size: 25px;
    color: var(--standerd);
}

.newsblogs_section .newsblogs{
    width: 100%;
    display: grid;
    grid-template-areas: "cad_1 cad_2 cad_3";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    place-items:center;
    gap: 10px;
    padding: 20px 0;
    
   

}

.newsblogs_section .newsblogs .card{
    width: 350px;
    
   


}

.newsblogs_section .newsblogs .cad_1{
    grid-area: cad_1;
}
.newsblogs_section .newsblogs .cad_2{
    grid-area: cad_2;
}
.newsblogs_section .newsblogs .cad_3{
    grid-area: cad_3;
}
.newsblogs_section .newsblogs .card .card_img {
    display: flex;
    overflow: hidden;
    transition: all ease-in-out .4s;

}

.newsblogs_section .newsblogs .card .card_img img{
    width: 100%;
    transition: all ease-in-out .4s;
    filter: brightness(80%);

}
.newsblogs_section .newsblogs .card >p{
    padding: 20px 0;
    
    
}

.newsblogs_section .newsblogs .card .dateandbutton{
    display: flex;
    justify-content: start;
    gap: 20px;
    align-items: center;
}

.newsblogs_section .newsblogs .card .dateandbutton p{
    display:inline;
    padding: 15px 0;
    
    
}

.newsblogs_section .newsblogs .card .dateandbutton p i{
    color: var(--standerd);
}

.newsblogs_section .newsblogs .card .dateandbutton button{
    height: 33px;
    width: 122px; 
    background-color:ghostwhite;
    border: 1px solid rgb(147, 146, 146);
    transition: all ease-in-out .4s;

}

