:root{
    --standerd:#46ccdb;
    --black:black;
    --white:white;
    --standerd-bg:#cacfcb;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/****************this section is for nav_bar****************/
body{
    position: relative;
}
nav{
    width: 100%;
    height: auto;
    background-color: white;
    padding:0 80px;
    position: fixed;
    z-index: 9;
    
}

.navcontainer{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navcontainer img{
    width: 120px;
    margin: 20px 0;
}
.navcontainer ul {
    display: flex;
    margin-right: 4px;
    height: 50px;
    align-items: center;
    gap: 45px;
}

.navcontainer ul li a{
    text-decoration: none;
    color: black;
    transition: color cubic-bezier(0.77, 0.33, 0.58, 1) .3s;
    font-size: 16px;
    

}
.navcontainer ul li .onlysix:hover{
    color: var(--standerd);
}

.navcontainer ul li a{
    color: black;
}

.navcontainer ul li{
    list-style: none;
}

.navcontainer ul :nth-child(7){
   
    background-color:var(--standerd-bg);
    padding: 15px 3px;
    
    
}
.menue{
    font-size: 30px;
    display: none;
    padding: 7px;
}


/******************this section for navbar_slid****************/

.right_side_slide_navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 85px;
    width: 100%;
    height: calc(100vh - 100px);
    justify-content: center;
    background-color: var(--standerd);
    transform: translateY(-1000px);
    transition: all ease .5s;
   
}

.right_side_slide_navigation a{
    text-decoration: none;
    width: 70%;
    padding: 23px 0;
    border-bottom: 1px solid rgb(91, 144, 202);
    transition: color ease .3s;
    
    text-align: center;
    color: white;

}
.right_side_slide_navigation a:hover{
    color: #dee0de;
}