@media(max-width:1199px){
    .homepagecontainer .homegrid .imagecontainer{
       
        align-items: start;
    }

}

@media(max-width:1235px){
    .scervices_section .scervices{
        grid-template-areas: "card_1 card_2"
                             "card_3 card_3";

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        
      }
      
    

}

@media(min-width:980px) and (max-width:1136px){
    


}




@media(max-width:1137px){
    .navcontainer ul{
        display: none;
    }
    .menue{
       
        display: block;
    }
    .right_side_slide_navigation{
        display: flex;
    }

    
    .homepagecontainer .homegrid{
        
        grid-template-areas: "imagecontainer"
                               "textes" ;
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 1fr;
    }
    .homepagecontainer .homegrid .imagecontainer{
       
        align-items: center;
        justify-content: center;
        
    }

    
    .homepagecontainer .homegrid .textes{

        align-items: center;
    }
    .homepagecontainer .homegrid .textes p{
        text-align: center;
    }


}

@media(max-width:888px){
    .scervices_section .scervices{
        grid-template-areas: "card_1"
                             "card_2"
                             "card_3";

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px;
        
      }
      .scervices_section{
       
            padding: 50px 0px;
        
      }
      .homepagecontainer {
        padding: 19px 20px;
    }
    
    
    

}

@media(max-width:800px){
    nav{
        padding: 0 20px;
    }
    .navcontainer img{
        width: 90px;
    }
    .homepagecontainer {
        padding: 19px 20px;
    }

    .scrooling_cards{
        padding: 0 0;

    }
    


}

@media(min-width:1137px){
    .right_side_slide_navigation{
        display: none;
        
    }

}



@media(max-width:500px){


.scrooling_cards {
   
    padding: 0 20px;
}
}