@media(max-width:1199px){
    .homepagecontainer .homegrid .imagecontainer{
       
        align-items: start;
    }

}

@media(max-width:1235px){
     .scervices_section .scervices{
        grid-template-areas: "card_1 card_2"
                             "card_3 card_3";

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        
      }
      .scervices_section .scervices .card_3{
        margin-top: 20px;

      }

      .newsblogs_section .newsblogs{
        grid-template-areas: "cad_1 cad_2"
                             "cad_3 cad_3";

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        
      }
      .about_us .container_of_about_us .profile_container{
        grid-template-areas: "prf_1"
                              " prf_2";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 40px;
    
    }
      .newsblogs_section .newsblogs .cad_3{
        margin-top: 20px;



      }
      .formvalidation{
        padding: 20px 80px;
        padding-bottom: 50px;
       }


      .formvalidation form .container{
        display: grid;
        grid-template-areas: "form_1"
                             "form_2"
                             "form_3"
                             "form_4";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 20px;
        padding-bottom: 50px;
    
    }

    footer .footersection{
        display: grid;
        grid-template-areas: "imagecont servi"
                             "conta news";
        grid-template-columns: 1fr 1fr ;
        grid-template-row:1fr 1fr;
        padding: 50px 85px;
        place-items: center;
    }

    .imagecontainer{
        height: 100%;
    display: flex;
    align-items: start;
        
    }
    .servicescontainer{
        text-align: center;

    }
    .contactinfo{
       
    }
    .newsletter{
        text-align: center;
       
    }
    .newsletter form label {
        left: 113px;
       
       
    }
    .newsletter span {
       
        justify-content: center;
    }

      
    

}

@media(min-width:980px) and (max-width:1136px){
    


}




@media(max-width:1137px){
    .navcontainer ul{
        display: none;
    }
    .menue{
       
        display: block;
    }
    .right_side_slide_navigation{
        display: flex;
    }

    
    .homepagecontainer .homegrid{
        
        grid-template-areas: "imagecontainer"
                               "textes" ;
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 1fr;
    }
    .homepagecontainer .homegrid .imagecontainer{
       
        align-items: center;
        justify-content: center;
        
    }

    
    .homepagecontainer .homegrid .textes{

        align-items: center;
    }
    .homepagecontainer .homegrid .textes p{
        text-align: center;
    }

    .homepagecontainer{
        padding: 85px 80px;
        padding-bottom: 0 ;

    }


}


@media(max-width:888px){
    .scervices_section .scervices{
        grid-template-areas: "card_1"
                             "card_2"
                             "card_3";

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px;
        
      }
      .scervices_section .scervices .card_3{
        margin-top: 0;

      }

      .newsblogs_section .newsblogs{
        grid-template-areas: "cad_1"
                             "cad_2"
                             "cad_3";

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 30px;
        
      }
      .newsblogs_section .newsblogs .cad_3{
        margin-top: 0;
      }

      
      .newsblogs_section{
          width: 100%;
          padding:25px 0;
      }
      .scervices_section{
       
            padding: 50px 0px;
        
      }
      .homepagecontainer {
        padding: 19px 20px;
    }
    .courses .coursesitems{
        display: grid;
        grid-template-areas: "cor_1"
                              "cor_2"
                             "cor_3"
                             "cor_4"
                             "cor_5"
                             "cor_6";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        gap: 20px;
        width: 100%;
        
    
    }

    
    
    

}

@media(max-width:800px){
    nav{
        padding: 0 20px;
    }
    .navcontainer img{
        width: 90px;
    }
    .homepagecontainer {
        padding: 19px 20px;
    }

    .scrooling_cards{
        padding: 0 0;

    }
    


}

@media(min-width:1137px){
    .right_side_slide_navigation{
        display: none;
        
    }

}


@media(max-width:740px){
    .about_us .container_of_about_us .profile_container .profile {
         width: 430px;
        
    }

    .about_us .container_of_about_us .profile_container .profile .textarr {
        width: 400px;
        padding: 13px 30px;
        
    }
    .about_us .container_of_about_us {
        padding: 40px 0; 
    }
    .courses{
        padding: 20px 20px;
        padding-bottom: 72px;

    }
    .formvalidation{
        padding: 20px 20px;
        padding-bottom: 50px;
       }

       footer .footersection{
        display: grid;
        grid-template-areas: "imagecont"
                             "servi"
                             "conta"
                             "news";
        grid-template-columns: 1fr ;
        grid-template-row:1fr 1fr 1fr 1fr;
        padding: 50px 20px;
        place-items: center;
        gap: 30px;
    }
    .contactinfo{
        text-align: center;

    }
    .contactinfo span{

      justify-content: center;
      padding-top: 7px;
    }

    .newsletter form label{
        display: none;
    }
    .newsletter form input::-webkit-input-placeholder{
        padding-left:15px ;
     }
     .imagecontainer img {
        width: 218px;
    }

       
}


@media(max-width:500px){


.scrooling_cards {
   
    padding: 0 20px;
}

}

@media(max-width:450px){
    .about_us .container_of_about_us .profile_container .profile{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 271px;
        overflow: hidden;
        border-top-left-radius: none;
        border-bottom-right-radius:none;
        border: 1px solid var(--standerd);
      
      }
      
.about_us .container_of_about_us .profile_container .profile .textarr {
    width: auto;
    padding: 13px 30px;
    padding-bottom: 72px;
}

    


}



